.rdp {
  font-size: 8px;
}

.rdp-day {
  width: 8px;
  height: 8px;
  padding: 8px;
  cursor: pointer;
}

.day_selected {
  background-color: #4a90e2;
  color: white;
  border-radius: 50%;
}

.rdp-month {
  font-size: 12px;
  padding: 4px;
}

.rdp-caption_label {
  font-size: 14px;
  font-weight: 500;
}

.rdp-chevron {
  width: 16px;
  height: 16px;
}
